.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.Rproj.user
.Rhistory
.Rdata

isoquill.Rproj
addCommitPush.sh

.gitignore

/busco
/ccs_12_parts
/codan
/cogent_vs_refGen_qbra
/cogent_vs_refGen_qsap
/cupcake
/data
/decon
/fam_find
/find_tps_p450
/isoseq_refine_cluster
/lima
/plots
/results
/salmon_quant
/short_read_polish
/vis